.head{
    color: green;
}
.user{
    color: pink;
}
.login{
    background-color: rgb(55, 212, 55);
    padding: 8px;
    color: white;
    border: none;
    border-radius: 5px;
}
.icon{
    cursor: grab;
    background-color: black;
    border-radius: 50%;
    color: red;
    font-size: 45px;
    margin-bottom: 5px;
}